/* reset.css */

/* Base styles */


.reset-form {
    max-width: 400px;
    margin: 50px auto; /* Add margin-top and center align */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
  }

  .reset-form>h2 {
    text-align: center;
  }
  
  .reset-form>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  .reset-form>input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .reset-form>input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  
  .reset-form>p {
    text-align: center;
    color: #007bff;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    /* Adjust styling for smaller screens here */
    .reset-form {
      max-width: 90%;
    }
    
    /* Add more styles as needed */
  }
  