.container {
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.container> :nth-child(1) {
    position: absolute;
    width: 8rem;
    left: 30%;
    top: 2rem;
}

.products {
    margin-top: 30px;
}